<section id="closed-cards" class="cards cards--on-deck is-collapsed" style="--card-color: var(--color-card-complete);"
  data-drag-and-drop-target="container"
  data-drag-and-strum-target="container"
  data-collapsible-columns-target="column"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
  data-drag-and-drop-url="<%= columns_card_drops_closure_path("__id__") %>"
>

  <%= render "collections/show/expander", title: "Done", count: collection.cards.closed.count %>

  <%= column_frame_tag :closed_column, src: collection_columns_closed_path(collection) %>
</section>
